.content{
    margin: 50px auto ;
    width: 400px;
    border: 3px solid rgba(0, 43, 100, 0.74);
    border-radius: 10px;
    padding: 35px;
}

.titulo{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.formulario{
    margin: 0 auto;
}

.formulario label, input {
    margin: 12px;
    padding: 10px;
    width: 83%;
}

.formulario .input{
    margin: 12px 0px;
    margin-left: 8px;
    
}

.formulario .boton{
    margin: 15px;
    text-align: center;
}

